*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
}
input{
    width: 300px;
    height: 30px;
    padding: 10px;
    color: darkblue;
    font-size: 20px;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    margin-bottom: 20px;
}
input:focus{
    outline: none;
    border-color: #2370ff;
}
button{
    width: 60px;
    height: 50px;
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
#tarefas{
    display: flex;
    justify-content: space-between;
    width: 380px;
    padding: 10px;
    margin: 10px;
}