body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}
#container{
    display: flex;
    justify-content: center;
}
img{
    width: 80%;
}
button{
    width: 40px;
    font-weight: bold;
    color: orange;
}