body{
    background-color: #3b3b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
#container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
button{
    margin: 10px;
}